# Dependencies
/node_modules
/vendor

# Laravel files
/public/hot
/public/storage
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache

# Log files
npm-debug.log
yarn-error.log

# Editor directories
/.idea
/.vscode

# Environment specific files
Homestead.json
Homestead.yaml
docker-compose.override.yml

# Custom Ignored Files (Anda bisa tambahkan di sini jika ada)
# Contoh: config/ldap.php